@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";
/* :root {
  --background: #161c1c;
  --foreground: #161c1c;
} */

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161c1c;
    --foreground: #161c1c;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}


body, p, a, li, span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; /* Regular weight for readability */
 
}

body {
  color: var(--foreground);
  background: var(--background);

}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border: 10px solid transparent;
}
::-webkit-scrollbar-track:hover {
  border: 12px solid rgba(0, 0, 0.5, 0.2);
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(at bottom right, #ff4aa4, #ed8961, #7f1df0);
  border-radius: 50px;
}